.cache
.DS_STORE
.pytest_cache
.vscode/
__pycache__
__init__.py
*.egg-info
*.npy
*.out
/build/
/bin/
/core/
/plots/
/Testing/
/input/
/output/
/reference_solution/
/profiling/
CMakeFiles
/trial_run_classes/
include/models/reactions_tyson.hpp
include/models/reactions_tgfb6.hpp
scripts/input/example_setups/set_tyson.py
scripts/input/example_setups/set_lp_general.py
scripts/reference_solutions/pysb_model_ts.py