.cache
.DS_STORE
.pytest_cache/
.ruff_cache/
.vscode/
__pycache__
*.egg-info
*.npy
*.npz
*.out
/bin/
/build/
/core/bin/
/core/build/
/core/input/
/core/output/
/input/
/output/
/plots/
/Testing/
/profiling/
CMakeFiles
