include atropy/examples/models/boolean/*
include atropy/core/*
include atropy/core/cmake-modules/*
include atropy/core/include/*
include atropy/core/src/*
include atropy/core/tests/*
include atropy/core/CMakeLists.txt